fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
langchain-text-splitters
langchain-milvus
sentence-transformers
pydantic
pydantic-settings
pymilvus[milvus_lite]
ollama
streamlit
python-dotenv
pymupdf
unstructured
rank-bm25
python-docx